@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    height: 100vh;
    background: url(BG.jpg) repeat-y;
    background-size: cover;
    background-position: center;
    color: #fff;
}

header{
    width: 100%;
    height: 100vh;
}

.logo{
    width: 230px;
    height: 200px;
    position: relative;
    border-radius: 50%;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li:hover,
nav ul li.active{
    color: #9400d3;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #9400d3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: #9400d3;
}

.header-text{
    margin-top: 150px;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 30px;
}

.header-text h1 span{
    color: #9400d3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.header-text p{
    position: relative;
    font-size: 30px;
    margin: 20px 0 40px;
    line-height: 1.2;
}

.about{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;
}

.about-col1 img{
    width: 100%;
    border-radius: 15px;
    margin: 250px 20px 250px;
}

.about-col2{
    flex-basis: 60%;
    margin: 200px 20px 200px;
}

.about-col2 p{
    margin: 20px 200px 20px 0;
    font-size: 25px;
}

.stitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.ttitles{
    display: flex;
    margin: 20px 0 40px;
}

.tlinks{
    margin-right: 180px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tcontents ul li{
    list-style: none;
    margin: 10px 0;
}

.tcontents ul li span{
    color: #9400d3;
    font-size: 14px;
}

.services{
    padding: 30px 0;
}

.slist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.slist div{
    background: black;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s; transform: 0.5s;
}

.slist div i{
    font-size: 50px;
    margin-bottom: 30px;
    }

.slist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.slist div:hover{
    background: #9400d3;
    transform: translateY(-10px);
}

.cleft{
    flex-basis: 35%;
}

.cleft p{
    margin-top: 30px;
}

.cleft p i{
    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}

.sicons{
    margin-top: 30px;
}

.sicons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: tranform 0.5s;
}

.sicons a:hover{
    color: #9400d3;
    transform: translateY(-5px);
}